input, select {
    padding: 5px 2px;
    margin: 4px 0;
    border: 3px solid #ccc;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input:focus, select:focus {
    border: 3px solid #555;
}

button {
    background-color: #9976af;
    color: white;
    padding: 14px 25px;
    text-align: center;
    border: none;
    cursor: pointer;
}

button, a {
    float: left;
    margin: 8px;
    border-radius: 4px;
}

button:hover {
    background-color: #8e2daf;
}

a:link, a:visited {
    text-decoration: none;
    background-color: #ff8c99;
    color: white;
    padding: 12px 25px;
    text-align: center;
}

a:hover, a:active {
    background-color: red;
}
