table {
    border-collapse: collapse;
}

th {
    font: 20px bold;
    padding: 10px;
    height: 30px;
    background-color: #85e0e0;
}

td {
    padding: 4px;
    border-bottom: 1px solid white;
}

td.center {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #e6ffff;
}

tr:hover {
    background-color: #7de8e8;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#AddButton a:link, #AddButton a:visited {
    margin: 15px;
    background-color: #00bfff;
    color: white;
    padding: 14px 25px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
}

a:hover, a:hover {
    color: red;
}
