.student tr:nth-child(even) {
  background-color: #c1f5c2;
}

.employee tr:nth-child(even) {
  background-color: #f6dfba;
}

.unit tr:nth-child(even) {
  background-color: #d1e4f3;
}

th {
  text-align: right;
  font-weight: bold;
}

.second th {
  text-align: left;
}

a.link {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

a.link:hover {
  color: #f00;
}
