table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #ebfaeb;
}

th {
    text-align: right;
    font-weight: bold;
}

td {
    text-align: left;
    height: 30px;
    border: 8px white;
    border-style: none none none solid;
}

table.list tr:nth-child(even) {
    background-color: #e6ffff;
}

table.list th {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    height: 30px;
    background-color: #85e0e0;
}

table.list td {
    padding: 4px;
    border-bottom: 1px solid white;
}

td.center {
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#UpdateButton a:link, #UpdateButton a:visited {
    margin: 15px;
    background-color: #33cc33;
    color: white;
    padding: 14px 25px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
}

a:hover, a:active {
    color: red;
}
